---
layout: static_page
title: Tour
---

h2 Overview
- # h3 ID's are for links from home page

h3#asset-allocation Asset Allocation
p Studies show that asset allocation is the single most important determinant in the overall level of portfolio returns and their variability over time.
p Easy Retirement Planning believes in a passive indexing strategy where your allocation is based on personal risk tolerance, with passive management used (i.e. reduced fees!) to manage the individual asset exposures.  You will complete a brief questionnaire that will help us to determine your risk tolerance as you compare to thousands of other people.  You have the final decision on your asset allocation and portfolio risk.

h3#retirement-planning Retirement Planning
p All plans have access to our Monte Carlo simulation features.  Based on the portfolio you selected in the asset allocation step and personal details (financial, retirement goals etc.) we complete statistical modeling that will provide you with the chances that your portfolio will be sufficient to last through retirement.
p Our models take into consideration a number of relevant factors to your retirement, including: current income and tax rate, future salary increases and inflation, expected income in retirement (pension, CPP, OAS, etc.), target retirement date, current home value and planned downsizing as well as age and maritial status.

h3#instant-notification Instant Notification
p It is a fact of life that your portfolio will drift away from its target allocation over time - increasing the risk of your investments (either through increased volatility, or potential that you may not meet your investment objectives).
p Regardless of which plan you select, Easy Retirement Planning will monitor your portfolio performance, and notify you if rebalancing is required.  We will send you concise, easy-to-follow instructions directly via e-mail that tell you exactly how many shares you need to buy to efficiently rebalance your portfolio.

h2 Powerful features, simplified.

p Easy Retirement Planning is a cloud-based web application that allows you to take control of your retirement planning and saving.  Tired of paying an advisor 1.5% of your assets annually to maintain an excel spreadsheet?  Starting from industry standard financial mathematics (asset returns, standard deviation and covariance), Easy Retirement Planning combines Modern Portfolio Theory with Monte Carlo Simulation to help you save for retirement and determine if you will outlast your money.
h3 Simple, easy to use controls and dashboard.
p Although the application does use rigorous statistical information and modeling techniques, it is designed with the user in mind.  No detailed technical knowledge is required to use Easy Retirement Planning - basic knowledge of ETFs and your current financial situation is enough to get started.
h3 Automatic portfolio tracking and notifications
p We check your portfolio every night while you sleep to ensure it is still in balance.  If your portfolio allocation is off of target, we will deliver an easy to follow set of instructions via e-mail with exactly how to get back on track.
h3
  | We
  strong<> never
  | touch your money.
p We belive that you should be in control of your retirement savings at all times.  We never take control or hold your money - you implement the actual purchase of the securities with your bank or discount broker and can sell or transfer them at anytime.  Use whatever trading platform you are comfortable with.
h3 Stay safe and secure
p All application pages are protected by SSL (HTTPS) and follow modern web application security practices.  Code has undergone a security reivew with a 3rd party library.
h3 Incredibly affordable
p Never before has such powerful statistical analysis tools been available at low-cost, and readily accessible in the cloud.


br
br
hr
br

h2 The Dashboard
p The dashboard is your "home page" at Easy Retirement Planning.  It provides links to the key features of the application (risk tolerance questionnaire, monte carlo simulations, tracking portfolio) and provides hints as to your next steps.
h3 Designed to keep you on track.
p Clear, concise instructions on what to do next and colour-coded progress tracking make sure that you aren't lost using Easy Retirement Planning.

br
hr
br
br

h2 Risk Tolerance Questionnaire
p Your first step on signing up for Easy Retirement Planning is to complete a set of questions which will help us to determine your personal risk tolerance.  We use that to determine a range of portfolio volatilities that should meet your willingness to accept risk.  Your answers are compared to thousands of other people (sourced from the U.S. Federal Reserve) where statistically significant factors are used to extrapolate a potential range of acceptable portfolio volatilities.
p In addition to survey results as a basis for determining your risk tolerance, we also use the concept of utility (from classical economics) in order to mathematically estimate optimal portfolio characteristics from your questionnaire answers.

br
hr
br
br

h2 Portfolio Selection
p After determining your personal willingness to accept risk, you will select a base portfolio which we use to build your monte carlo simulation and as a base for your actual ETF selections.
h3 Take the mystery out of asset allocation.
p We worry about generating a set of optimal portfolio allocations for any given risk level - you just need to select a portfolio that falls within your ability/willingness to accept risk.  For every portfolio, we provide the "expected" return (based on reverse portfolio optimization & historical data) as well as Value At Risk - an estimate of the kind of loss you should expect to occur once per month.

br
hr
br
br

h2 Monte Carlo Retirement Simluation
p Instead of simply assuming linear growth in your retirement assets (which we know not to be the case!), a monte carlo simulation incorporates historical statistical data to provide an accurate assessment of how your portfolio may actually grow.  We run this simulation many times in combination with your personal data (your age, income, expected retirement expenses etc.) in order to determine if you will have sufficient funds to last through retirement.

h3 Tailored to your individual financial situation.
p We don't all spend exactly 75% of our pre-retirement income once we have retired, nor do we all expect to work to exactly 65.  Easy Retirement Planning incorporates your personal financial information and preferences in order to paint an accurate picture of your retirement.
h3 Detailed results page allows you to determine suitability.
p After running all of your simulation trials, you will presented with graphs visually displaying data relevant to your decision to accept the portfolio or select a different one.  Your average portfolio value is shown for each year, in addition to the number of trials in which you were projected to run out of money that year.  We also present a graph showing the distribution of portfolio size around the average - if you chose a portfolio with high variability you can expect the values to be more widely dispersed around the average.

br
hr
br
br

h2 Simple ETF Purchasing Instructions
p Easy Retirement Planning is designed to do the hard lifting for you.  Once you have specified the ETF's to use in your portfolio, we provide the exact number of shares to buy to meet your target allocation.  When you go to purchase additional securities (or we note that your portfolio is out of balance), we provide the same information.  All you have to do is purchase the units from your bank or discount brokerage.
h3 No more searching through market quotes and Excel sheets in order to balance your portfolio.
p Initial portfolio setup, quarterly rebalancing, or additional money to invest?  We've got you covered.

br
hr
br
br

h2 Ongoing ETF Purchase Support
p Have additional money to invest?  Even if you are still technically within allowable portfolio drift limits, when you go to purchase additional units we will do the calculation to efficiently get you back in balance - saving you transaction fees later.
