<%= form_tag "/mailing_list_subscribe", class: 'form-inline JS-newsletter-form' do %>

  <% # Honeypot %>
  <div class='newsletter-name-input'>
    <input type="text" name="name" placeholder="Your name" value="">
  </div>

  <input name='email' type="email" class="form-control newsletter-email-input JS-newsletter-email" placeholder="you@example.com" required>

  <button class="btn btn-orange newsletter-submit-button JS-newsletter-submit" type="submit">Subscribe</button>

<% end %>
