<form class="form-inline" action="http://retirementplan.us3.list-manage.com/subscribe/post?u=3e8d953c17c42d187cc0599b0&amp;id=0c5f480b36" method="post">
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_3e8d953c17c42d187cc0599b0_0c5f480b36" value="">
    </div>
    <input id='mce-EMAIL' name='EMAIL' type="email" class="form-control newsletter-email-box" placeholder="you@example.com" required>
    <button class="btn btn-theme" type="submit">Subscribe</button>
</form>
