<noscript>
  <div class='row'>
    <div class='col-md-12'>
      <div class="alert alert-danger text-center">
        <h4>JavaScript is required to use the application functionality of this site. You will need to turn it on when signed in.</h4>
      </div>
    </div>
  </div>
</noscript>
