<div class="modal fade bs-modal-sm" id="JS-sign-in-sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="signUpOrSignIn" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <ul class="nav nav-tabs nav-justified registration-modal-tabs">
        <li class="active"><a id="JS-sign-in-tab-link" href="#BOOTSTRAP-sign-in-tab" data-toggle="tab">Sign In</a></li>
        <li class=""><a id="JS-sign-up-tab-link" href="#BOOTSTRAP-sign-up-tab" data-toggle="tab">Create Account</a></li>
      </ul>

      <div class="modal-body">
        <div class="tab-content">
          <%= render partial: 'shared/sign_in_tab_content' %>
          <%= render partial: 'shared/sign_up_tab_content' %>
        </div>
      </div>

    </div>
  </div>
</div>
