<div class="tab-pane fade" id="BOOTSTRAP-sign-up-tab">

  <button class="btn btn-block btn-social btn-facebook JS-login-with-facebook" data-loading-text="Working...">
    <i class="fa fa-facebook"></i> Log in with Facebook
  </button>

  <button class="btn btn-block btn-social btn-google-plus JS-login-with-google" data-loading-text="Working...">
    <i class="fa fa-google-plus"></i> Log in with Google
  </button>

  <div class='or-divider first'></div>
  <div class='or'>OR</div>
  <div class='or-divider last'></div>
  <div class='clearfix'></div>

  <form class="registration-modal" id="JS-sign-up-form">

    <!-- Email input-->
    <div class="form-group">
      <label for="email-sign-up-input" class="control-label">Email</label>
      <input type="email" id="email-sign-up-input" class="form-control" name="email" placeholder="me@example.com" required>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label for="password-sign-up-input" class="control-label">Password</label>
      <input type="password" id="password-sign-up-input" class="form-control" name="password" required>
      <p class="help-block">Minimum 8 characters</p>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label for="password-confirmation-sign-up-input" class="control-label">Re-Enter Password</label>
      <input type="password" id="password-confirmation-sign-up-input" class="form-control" name="password_confirmation" required>
    </div>

    <!-- Button -->
    <br>
    <button id="JS-sign-up-button" class="btn btn-orange btn-block" data-loading-text="Working...">Sign Up</button>

    <!-- Mailing List -->
    <hr>
    <div class="checkbox text-left text-muted mailing-list-checkbox">
      <label>
        <input type="checkbox" name="mailing_list" value="1"> Send me retirement planning educational information and product updates
      </label>
    </div>

  </form>
</div>
