#blog-padded {
  background-color: inherit;
  padding-top: 40px;
}

.post-loop {
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
}

.post-loop-author-info {
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  .author-name {
    margin-top: 30px;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

}

.post-loop-content {
  padding-left: 40px;
  font-size: 18px;
  line-height: 26px;


  h2 {
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  p {
    margin-bottom: 30px;
  }

  .post-loop-meta {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ABC5D8;
    font-size: 13px;

    span {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #ddd;
      color: lighten( rgb(51, 51, 51), 20%);
    }

    a {
      font-weight: 400;
    }
  }

  .post-social {
    font-size: 14px;

    .social-label {
      display: inline-block;
      margin-right: 10px;
      font-size: 12px;
      color: #506570;
    }
  }
}

.post-side-bar {
  border-right: 1px solid #ccc;
  padding: 50px 50px 50px 0px;
}

.widget {
  margin-bottom: 25px;
}

.widget-back-link {
  text-align: center;
  font-size: 12px;
  color: #8099AA;
  margin-bottom: 10px;
  font-weight: 400;
}

.widget-signup {
  text-align: center;
  h4 {
    margin-bottom: 5px;
    padding-bottom: 10px;
    // border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    font-weight: 700;
  }
}

.widget-author {
  text-align: center;

  .author-name {
    margin-top: 30px;
    // font-weight: 700;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .author-bio {
    font-size: 14px;
  }
}

.widget-title {
  // margin-bottom: 20px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.widget-cats {
  text-align: center;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      border-bottom: 1px solid #eee;

      a {
        display: block;
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}

.post-single {
  margin-bottom: 40px;
  padding-left: 20px;
  font-size: 17px;
  line-height: 32px;

  h1 {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 30px;
  }

  a {
    font-weight: 400;
  }

  img {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .under-post {
    padding-top: 50px;
    border-top: 1px solid #eee;
    margin-bottom: 70px;
  }
}

.pre-post-meta {
  color: #ABC5D8;
  font-size: 14px;

  span {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
  }

  a {
    font-weight: 400;
  }
}

.post-single-meta {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 30px;

  .meta-item {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
  }
}

.post-summary {
  p {
    margin-bottom: 10px; // Shrink this from default....
  }
}

.social-link {
  font-size: 1.4em;
}

.thin-bottom-border {
  border-bottom: 1px solid #eee;
}

.widget-cats ul li a {font-weight:bold;}
