// Links need to be darker orange for readability

.static-page-content a {
  font-weight: 400;
}

// Misc

#social-links {
  a {
    color: white;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
      color: #06979e;
    }

  }
}

.heavy {font-weight: 400;}

#headerwrap {
  padding-top: 0px;
  #simulation-counter {
    p {
      text-align: center !important;
      line-height: 20px;
    }
    span.badge { font-size: 15px; }
    h1 { font-size:2.5em; }
  }
}

#hero-register-button {
  text-align: center !important;
}

#headerwrap {

}
