- title "Asset Allocation"
- description "RetirementPlan.io provides asset allocation assistance"

p Studies show that asset allocation is the single most important determinant in the overall level of portfolio returns and their variability over time. It is incredibly important that your asset allocation match your ability/willingness to tolerate risk, and that it will get you moving in the right direction towards your retirement goals.

p We thought that there should be more to this for the everyday investor than walking into a bank, answering three questions, and then being given a set portfolio allocation that is supposedly "personalized".  RetirementPlan.io provides a suite of tools that help you understand the varying amounts of risk between different portfolios, and how they might affect your retirement outcomes over time.

p RetirementPlan.io believes in a passive indexing strategy where your allocation is based on personal risk tolerance, with passive management (i.e. reduced fees!) used to manage the individual asset exposures.

p You will complete a brief questionnaire that will help us to determine your risk tolerance as you compare to thousands of other people, which allows us to provide a range of portfolio risks that may be acceptable to you. All portfolios are "Mean-Variance Optimized" (per Modern Portfolio Theory), however they certainly vary in terms of the absolute level of risk you may be exposed to. We indicate whether portfolios are within your target risk range, are above (too risky) or are below (may not provide enough return to meet your retirement goals).

p You have the final decision on your asset allocation and portfolio risk.
