<% title 'Disclosures' %>
<% description 'Financial disclosures related to RetirementPlan.io' %>

<h2>Ownership of Recommended Securities</h2>

<p>The owners/directors of RetirementPlan.io may have a financial position (discretionary or nondiscretionary beneficial economic interest) in some/all of the securities discussed or recommended on the website.  However, none of these positions are material in nature, nor are we in control of any of these corporations or their holdings.  Unless otherwise disclosed, they are held as part of a simple retirement portfolio.</p>

<h2>Referral Fees</h2>

<p>Unless otherwise disclosed, we do not receive any direct compensation or referral fee from ETF vendors for recommendation of specific securities.  However, we reserve the right to do so in the future, with disclosure of those fees here.</p>

<p>RetirementPlan.io currently does not receive any referral fees from discount brokerages for recommendation of their services.  However, we reserve the right to do so in the future, with disclosure of those fees here.</p>

<p>RetirementPlan.io currently does not receive any referral fees from associated financial services/planners.  However, we reserve the right to do so in the future, with disclosure of those fees here.</p>
