- title "Our Video"
- description "A video describing the features and benefits provided by RetirementPlan.io"

p.text-center
  <iframe src="//fast.wistia.net/embed/iframe/kqe26o1qad" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>

p.lead.text-center
  = "Interested in learning more? Check out #{link_to "the tour", tour_path}!".html_safe

br
