<% title 'Privacy Policy' %>
<% description "RetirementPlan.io's Privacy Policy" %>

<h2>Introduction</h2>

<p>RetirementPlan.io (“us,” “we,” or “Company”) is committed to respecting the privacy rights of its customers, visitors, and other users of the Company Website (the “Site”). We created this Website Privacy Policy (this “Policy”) to give you confidence as you visit and use the Site, and to demonstrate our commitment to fair information practices and the protection of privacy. This Policy is only applicable to the Site, and not to any other websites that you may be able to access from the Site, each of which may have data collection and use practices and policies that differ materially from this Policy.</p>

<h2>Collection and Use of Information</h2>
<h4>Types of Information We Collect</h4>
<ol>
  <li><p><em>Automatic Collection</em> </p>
    <p>Our servers automatically recognize visitors’ domain names and IP addresses (the number assigned to computers on the Internet). No personal information about you is revealed in this process. The Site may also gather anonymous “traffic data” that does not personally identify you, but that may be helpful for marketing purposes or for improving the services we offer.  The Site uses Google Analytics (and other associated tools) to analyze how people use the Site.  Anonymous information about your visit is collected and transmitted to Google, where it is then analyzed and compiled into statistical reports.  This information is collected to allow content, the service and its marketing to be optimized to better meet the needs of customers and the Site.</p></li>

  <li><p><em>Cookies</em></p>
    <p>From time to time, we may use the standard “cookies” feature of major browser applications that allows us to store a small piece of data on your computer about your visit to our Web site. Cookies help us learn which areas of our site are useful and which areas need improvement. You can choose whether to accept cookies by changing the settings on your browser. However, if you choose to disable this function, your experience at our Web site may be diminished and some features may not work as they were intended.</p></li>

  <li><p><em>Collection As Part of Our Service</em></p>
    <p>Some personal information is collected via the use of our service (for example - income, investment experience, risk tolerance, age, maritial status, retirement goals, portfolio holdings etc.) and stored in our database.</p></li>

</ol>

<h4>Use of Collected Information</h4>

<ul>
  <li>We will not share personally identifiable information with any third parties without your consent, except as necessary to provide you with the services offered by us or to comply with the law. We may use your information as a greater collection of data related to the site in traffic discussions in articles posted on the blog. No individual users visit, whether you or another visitor, are discussed.</li>

  <li>We use anonymous information to analyze our Site traffic. In addition, we may use anonymous IP addresses to help diagnose problems with our server, to administer our site, or to display the content according to your preferences. Traffic and transaction information may also be shared with business partners and advertisers on an aggregate and anonymous basis.</li>

  <li>We may use cookies to deliver content specific to your interests or for other purposes. Promotions or advertisements displayed on our site may contain cookies.</li>

  <li>We may disclose personally identifiable information if required to do so by law or in the good-faith belief that such action is necessary to (1) conform to the edicts of the law or comply with legal process served on Company or its parent company, subsidiaries or affiliates, (2) protect and defend the rights or property of Company or the users of the Site, or (3) act under exigent circumstances to protect the safety of the public or users of the Site.</li>

  <li>We may display aggregated, non-personally identifiable information within our application to allow users to "benchmark" their asset allocations and goals against similar users.  This includes demographic, profile, asset allocation and other general information displayed on an aggregate basis.</li>

  <li>In order to accommodate changes in our business, we may sell or buy portions of our company or other companies or assets, including the information collected through this Web site. If Company or substantially all of its assets are acquired, customer information will be one of the assets transferred to the acquirer.</li>

  <li>Information collected may be stored indefinitely.</li>
</ul>

<h4>Blog</h4>

<p>If you use the blog on this Web site (e.g. leaving comments), you should be aware that any personally identifiable information you submit there can be read, collected, or used by other users of these blogs, and could be used to send you unsolicited messages. We are not responsible for the personally identifiable information you choose to submit in these blogs.</p>

<h2>Security</h2>

<p>The Site has security measures in place that attempts to prevent the loss, misuse, and alteration of the information that we obtain from you.  However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security, and make no assurances about our ability to prevent damages from loss, misuse or alteration of your information.</p>

<h2>Contacting Us</h2>

<p>If you have any questions about this Policy, our practices related to this Site, or if you would like to have us remove your information from our database please feel contact us using the information in the footer.</p>

<h2>Changes in this Privacy Policy Statement</h2>

<p>We reserve the right, at any time, to add to, change, update, or modify this Policy, simply by posting such change, update, or modification on the Site and without any other notice to you. Any such change, update, or modification will be effective immediately upon posting on the Site. It is your responsibility to review this Policy from time to time to ensure that you continue to agree with all of its terms.</p>
