<% title "Terms of Service" %>
<% description "RetirementPlan.io's Terms & Conditions (Legal)" %>

<h2>General</h2>

<p>Please read these terms of use ("agreement" / "terms of use" / "terms of Service" / "TOS") carefully before using the services offered by RetirementPlan.io (also referred to as "the company", "I", "we", "us"). This agreement sets forth the legally binding terms and conditions for your use of the various websites owned and operated by us, including, without limitation, the www.retirementplan.io website and domain name (sites), and any other features, content, or applications offered from time to time in connection therewith (collectively, the service). By using the sites or service in any manner, including but not limited to visiting or browsing the sites, you agree to be bound by this agreement. This agreement applies to all users of the sites or service, including users who are also contributors of content, information, and other materials or services on the sites.</p>

<p>The TOS constitutes the entire agreement between you and RetirementPlan.io and governs your use of the Service, superseding any prior agreements between you and RetirementPlan.io with respect to the Service. You also may be subject to additional terms and conditions that may apply when you use or purchase certain other RetirementPlan.io services, affiliate services, third-party content or third-party software.</p>

<p>The TOS and the relationship between you and RetirementPlan.io shall be governed by the laws of the Province of Alberta without regard to its conflict of law provisions. You and RetirementPlan.io agree to submit to the personal and exclusive jurisdiction of the courts located within the Calgary, Alberta.  You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the TOS must be filed within one (1) year after such claim or cause of action arose or be forever barred.  Any dispute arising from or relating to the subject matter of this Agreement shall be finally settled by arbitration in Calgary, Alberta, using the English language.  The prevailing party in the arbitration shall be entitled to receive reimbursement of its reasonable expenses (including reasonable attorneys' fees, expert witness fees and all other expenses) incurred in connection therewith.</p>

<p>The failure of RetirementPlan.io to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision. If any provision of the TOS is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the TOS remain in full force and effect.</p>

<p>The section titles in the TOS are for convenience only and have no legal or contractual effect.</p>

<p>All prices include GST/HST for residents of Canada.</p>

<h2>Acceptance of Terms</h2>

<p>This Service is offered subject to the following Terms of Service, which may be updated by us from time to time without notice to you.  Changes in the TOS are effective immediately.  It is your responsibility to periodically review this document and fully accept the Terms and Conditions.</p>

<p>This Service is available only to individuals who are at least 18 years old.  We may, at our discretion, refuse to offer the Service to any person or change your eligibility at any time.</p>

<h2>Your Access to the Service and Storage of Information</h2>

<p>You understand and agree that the Service is provided "AS-IS" and that we assume no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communications or personalization settings. You are responsible for obtaining access to the Service, and that access may involve third-party fees (such as Internet service provider or airtime charges). You are responsible for those fees, including those fees associated with the display or delivery of advertisements. In addition, you must provide and are responsible for all equipment necessary to access the Service.</p>

<p>You also understand and agree that the Service may include advertisements and that these advertisements are necessary for us to provide the Service. You also understand and agree that the Service may include certain communications from us, such as service announcements, administrative messages and the RetirementPlan.io Newsletter, and that these communications are considered part of your membership and you will not be able to opt out of receiving them. Unless explicitly stated otherwise, any new features that augment or enhance the current Service, including the release of new properties, shall be subject to the TOS.</p>

<h2>Your Registration/Membership Obligations</h2>

<p>In consideration of your use of the Service, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of Canada or other applicable jurisdiction. You also agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the Service's registration and financial information forms (the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or we have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Service (or any portion thereof).</p>

<p>You shall never use another user’s account without such other user’s express permission.</p>

<p>You acknowledge that we reserve the right to require payment of fees for certain features of the Service. Should you elect to subscribe to such features, you shall pay all applicable fees, as described on the Sites in connection with such features. We reserve the right to change our pricing and to institute new charges at any time, upon ten (10) days prior notice to you, which may be sent by email or posted on the Sites. Use of the Service by you following such notification constitutes your acceptance of any new or increased charges.</p>

<h2>Member Account, Password and Security</h2>

<p>If you opt to register with an email/password combination on RetirementPlan.io, you are responsible for maintaining the confidentiality of the password and account.</p>

<p>If you opt to link your account to a 3rd party authentication service (e.g. Google/Facebook/Twitter), you acknowledge that those services are solely responsible for the security of your account, and that you must follow any security-related measures as laid out in their Terms of Service.  The ability to use 3rd party authentication is provided solely for your convenience.</p>

<p>You are fully responsible for all activities that occur under your password or account. You agree to (a) immediately notify us of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session.</p>

<p>We cannot and will not be liable for any loss or damage arising from your failure to comply with this Section.</p>

<p>We will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on Company’s equipment, transmitted over networks accessed by the Sites, or otherwise connected with your use of the Service.</p>

<h2>Beta Program</h2>

<p>While in Beta (i.e., while we are not charging for this service), you agree that all information presented within this application is for educational and trial purposes only.  You agree that we may end the Beta program at any time, and are under no obligation to save or forward your data.</p>

<h2>Member Conduct</h2>

<p>
  You understand that all information, data, text, software, music, sound, photographs, graphics, video, messages, tags, or other materials ("Content"), whether publicly posted or privately transmitted, are the sole responsibility of the person from whom such Content originated. This means that you, and not RetirementPlan.io, are entirely responsible for all Content that you upload, post, email, transmit or otherwise make available via the Service. We do not control the Content posted via the Service and, as such, does not guarantee the accuracy, integrity or quality of such Content. You understand that by using the Service, you may be exposed to Content that is offensive, indecent or objectionable. Under no circumstances will we be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Service. You agree to not use the Service to:

  <ul>
    <li>upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>

    <li>harm minors in any way;</li>

    <li>impersonate any person or entity, including, but not limited to, an RetirementPlan.io official, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>

    <li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Service;</li>

    <li>upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>

    <li>upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("Rights") of any party;</li>

    <li>upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas (such as shopping) that are designated for such purpose</li>

    <li>upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>

    <li>disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Service are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges;</li>

    <li>interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;</li>

    <li>intentionally or unintentionally violate any applicable local, provincial, national or international law, including, but not limited to, regulations promulgated by the provincial securities regulator with jurisdiction, any rules of any national or other securities exchange, and any regulations having the force of law;</li>

    <li>"stalk" or otherwise harass another; and/or</li>

    <li>collect or store personal data about other users in connection with the prohibited conduct and activities set forth above</li>
  </ul>
</p>

<p>You acknowledge that we may or may not pre-screen Content, but that we and our designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, or move any Content that is available via the Service. Without limiting the foregoing, we and our designees shall have the right to remove any Content that violates the TOS or is otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, you acknowledge that you may not rely on any Content created by RetirementPlan.io or submitted to us, including without limitation information in any provided message board and in all other parts of the Service.</p>

<p>You acknowledge, consent and agree that we may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce the TOS; (c) respond to claims that any Content violates the rights of third parties; (d) respond to your requests for customer service; or (e) protect the rights, property or personal safety of RetirementPlan.io, its users and the public.</p>

<p>You understand that the technical processing and transmission of the Service, including your Content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</p>

<p>You understand that the Service and software embodied within the Service may include security components that permit digital materials to be protected, and that use of these materials is subject to usage rules set by us and/or content providers who provide content to the Service. You may not attempt to override or circumvent any of the usage rules embedded into the Service. Any unauthorized reproduction, publication, further distribution or public exhibition of the materials provided on the Service, in whole or in part, is strictly prohibited.</p>

<h2>International Use</h2>

<p>Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable Content.  We make no representation that the Content is appropriate or available for use in locations outside of Canada, and accessing the Service is prohibited from  countries or territories where such Content is illegal. If you access the Service from other locations, you do so at your own initiative and are responsible for compliance with local laws.</p>

<h2>Content Submitted or Made Available for Inclusion on the Service</h2>

<p>
  We do not claim ownership of Content you submit or make available for inclusion on the Service. However, with respect to Content you submit or make available for inclusion on publicly accessible areas of the Service, you grant us the following worldwide, royalty-free and non-exclusive license(s), as applicable:
  <ul>
    <li>With respect to Content you submit or make available for inclusion on publicly accessible areas of RetirementPlan.io, the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the Service.  This license exists only for as long as you elect to continue to include such Content on the Service and will terminate at the time you remove or we remove such Content from the Service.</li>

    <li>With respect to photos, graphics, audio or video you submit or make available for inclusion on publicly accessible areas of the Service other than RetirementPlan.io, the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such Content on the Service solely for the purpose for which such Content was submitted or made available. This license exists only for as long as you elect to continue to include such Content on the Service and will terminate at the time you remove or we remove such Content from the Service.</li>

    <li>With respect to Content other than photos, graphics, audio or video you submit or make available for inclusion on publicly accessible areas of the Service other than RetirementPlan.io, the perpetual, irrevocable and fully sublicensable license to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such Content (in whole or in part) and to incorporate such Content into other works in any format or medium now known or later developed.</li>
  </ul>
</p>

<p>"Publicly accessible" areas of the Service are those areas of the RetirementPlan.io network of properties that are intended by us to be available to the general public. By way of example, publicly accessible areas of the Service would include the RetirementPlan.io blog and portions of RetirementPlan.io that are open to both members and visitors.</p>

<h2>Indemnity</h2>

<p>You agree to indemnify and hold RetirementPlan.io and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, post, transmit or otherwise make available through the Service, your use of the Service, your connection to the Service, your violation of the TOS, or your violation of any rights of another.</p>

<h2>No Resale of Service</h2>

<p>You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion of the Service, use of the Service, or access to the Service.</p>

<h2>General Practices Regarding Use and Storage</h2>

<p>You acknowledge that RetirementPlan.io may establish general practices and limits concerning use of the Service, including without limitation the maximum number of days that messages, message board postings or other uploaded Content will be retained by the Service, the maximum number of messages that may be sent from or received by an account on the Service, the maximum size of any message that may be sent from or received by an account on the Service, the maximum disk space that will be allotted on our servers on your behalf, and the maximum number of times (and the maximum duration for which) you may access the Service in a given period of time. You agree that we have no responsibility or liability for the deletion or failure to store any messages and other communications or other Content maintained or transmitted by the Service. You acknowledge that we reserve the right to log off accounts that are inactive for an extended period of time. You further acknowledge that we reserve the right to modify these general practices and limits from time to time.</p>

<h2>Modifications to Service</h2>

<p>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that we shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</p>

<h2>Modification of Terms of Use</h2>

<p>We reserve the right, at our sole discretion, to modify or replace any of the Terms of Use at any time without specific notification.  These changes are effective immediately as of posting on the website.  It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the Service following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>

<h2>Termination</h2>

<p>You agree that we may, under certain circumstances and without prior notice, immediately terminate your account, any associated email address, and access to the Service. Cause for such termination shall include, but not be limited to, (a) breaches or violations of the TOS or other incorporated agreements or guidelines, (b) requests by law enforcement or other government agencies, (c) a request by you (self-initiated account deletions), (d) discontinuance or material modification to the Service (or any part thereof), (e) unexpected technical or security issues or problems, (f) extended periods of inactivity, (g) engagement by you in fraudulent or illegal activities, and/or (h) nonpayment of any fees owed by you in connection with the Services. Termination of your account includes (a) removal of access to all offerings within the Service, (b) deletion of your password and all related information, files and content associated with or inside your account (or any part thereof), and (c) barring of further use of the Service. Further, you agree that all terminations for cause shall be made in our sole discretion and that we shall not be liable to you or any third party for any termination of your account, any associated email address, or access to the Service.</p>

<p>All provisions of the Terms of Use which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

<h2>Dealings with Advertisers</h2>

<p>Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through the Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser. You agree that we shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Service.</p>

<h2>Links</h2>

<p>The Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because we have no control over such sites and resources, you acknowledge and agree that we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.</p>

<h2>RetirementPlan.io's Proprietary Rights</h2>

<p>You acknowledge and agree that the Service and any necessary software used in connection with the Service ("Software") contain proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge and agree that Content contained in sponsor advertisements or information presented to you through the Service or by advertisers is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly authorized by RetirementPlan.io or advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Software, in whole or in part.</p>

<p>RetirementPlan.io grants you a personal, non-transferable and non-exclusive right and license to use the object code of its Software on a single computer; provided that you do not (and do not allow any third party to) copy, modify, create a derivative work from, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, grant a security interest in or otherwise transfer any right in the Software. You agree not to modify the Software in any manner or form, nor to use modified versions of the Software, including (without limitation) for the purpose of obtaining unauthorized access to the Service. You agree not to access the Service by any means other than through the interface that is provided by RetirementPlan.io for use in accessing the Service.</p>

<h2>Disclaimer of Warranties</h2>

<p>
  YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
  <ul>
    <li>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. RETIREMENTPLAN.IO AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>

    <li>RetirementPlan.io AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS MAKE NO WARRANTY THAT (i) THE SERVICE WILL MEET YOUR REQUIREMENTS; (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE; (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS; AND (v) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.</li>

    <li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</li>

    <li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM RetirementPlan.io OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOS.</li>
  </ul>
</p>

<h2>Limitation of Liability</h2>

<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT RETIREMENTPLAN.IO AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE.</p>

<h2>Note Relating to Financial Matters</h2>

<p>The Service is provided for informational purposes only, and no Content included in the Service is intended for trading or investing purposes. RetirementPlan.io and its licensors shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the Service, and shall not be responsible or liable for any trading or investment decisions based on such information.</p>

<p>The Service is meant as an aid to assist you in selection of investment tools and related services, it  is not intended to provide legal, tax or financial planning advice. Unless you become an RetirementPlan.io client under the terms of an investment advisory agreement, you acknowledge and agree that you are responsible for your own investment research and investment decisions, that the Service is only one tool that you may use as part of a comprehensive investment analysis process that should involve many other tools and sources of information, that you should not rely on the Service, and that we will not be liable for any decision made or action taken by you or others based upon information or materials obtained through use of the Service. Prior to the execution of a securities trade, you should always consult with your broker or other financial representative to verify securities pricing information. THE SERVICE IS NOT INTENDED TO PROVIDE LEGAL, TAX OR FINANCIAL PLANNING ADVICE. WE ARE NOT A FINANCIAL PLANNER, BROKER OR TAX ADVISOR.</p>

<h2>No Third Party Beneficiaries</h2>

<p>You agree that, except as otherwise expressly provided in this TOS, there shall be no third-party beneficiaries to this agreement.</p>

<h2>Notice</h2>

<p>We may provide you with notices, including those regarding changes to the TOS, by email, regular mail or postings on the Service.</p>

<p>Electronic alerts will be sent to the email address you have provided as your primary email address. You are responsible for informing us of changes to your e-mail address. Because alerts are not encrypted, we will never include your password. However, alerts may include your RetirementPlan.io User ID and/or information about your accounts. You understand and agree that any alerts provided to you through the Service may be delayed or prevented by a variety of factors. We do our best to provide alerts in a timely manner with accurate information. However, we neither guarantee the delivery nor the accuracy of any alert. You also agree that we shall not be liable for any delays in delivery or failure to deliver any alert; for any errors in the content of an alert; or for any actions taken or not taken by you or any third party in reliance on an alert.</p>

<h2>Suitability and Profitability of Investments</h2>

<p>Please be advised that the answers provided by any member of the RetirementPlan.io community represents his or own opinions.  Investment information provided as part of the Service is for information only, and we will not assess, verify or guarantee the suitability or profitability of any particular investment. You should not rely solely upon information provided on this page for purposes of transacting securities or other investments. You bear responsibility for your own investment research and decisions and should seek the advice of a qualified securities professional before making any investment.</p>

<h2>Stock/ETF/Bond Information & Quotations</h2>

<p>ETF Purchasing Instructions rely on 3rd party, delayed stock quotes.  As such, RetirementPlan.io cannot guarantee the accuracy of these quotations, or their timeliness.  When purchasing ETFs (or rebalancing your portfolio), you should independently confirm the recommendations of RetirementPlan.io.</p>

<h2>Fund Performance</h2>

<p>We cannot guarantee any specific level of performance or guarantee how much you may save on portfolio fees.</p>
