- title "Tour"
- description "A tour of RetirementPlan.io product features"

p
  h2 Powerful features, simplified.

p RetirementPlan.io is a cloud-based web application that allows you to take control of your retirement planning and saving.  Tired of paying an advisor 1.5% of your assets annually to maintain an excel spreadsheet?  Starting from industry standard financial mathematics (asset returns, standard deviation and covariance), RetirementPlan.io combines Modern Portfolio Theory with Monte Carlo Simulation to help you save for retirement and determine if you will outlast your money.

h3 = fa_icon "check-circle-o", text: "Simple, easy to use controls and dashboard"
p Although the application does use rigorous statistical information and modeling techniques, it is designed with the user in mind.  No detailed technical knowledge is required to use RetirementPlan.io - basic knowledge of ETFs and your current financial situation is enough to get started.

h3 = fa_icon "check-circle-o", text: "Nobel Prize-winning math - in the background"
p You don't need to worry about covariance matrices, cholesky decompositions, reverse portfolio / mean-variance optimization or Monte Carlo statistical methods. RetirementPlan.io uses these tools in the background and presents you with the key information necessary to plan your retirement.

h3 = fa_icon "check-circle-o", text: "Automatic portfolio tracking and notifications"
p We check your portfolio every night while you sleep to ensure it is still in balance.  If your portfolio allocation is off of target, we will deliver an easy to follow set of instructions via e-mail with exactly how to get back on track.

h3 = fa_icon "check-circle-o", text: "We <strong>never</strong> touch your money".html_safe
p We belive that you should be in control of your retirement savings at all times.  We never take control or hold your money - you implement the actual purchase of the securities with your bank or discount broker and can sell or transfer them at anytime.  Use whatever trading platform you are comfortable with.

h3 = fa_icon "check-circle-o", text: "Incredibly affordable"
p Never before has such powerful statistical analysis tools been available at low-cost, and readily accessible in the cloud.

br
hr
br


h2.underlined The Dashboard

p The dashboard is your "home page" at RetirementPlan.io.  It provides links to the key features of the application (risk tolerance questionnaire, monte carlo simulations, tracking portfolio) and leads you through our process.
h3 Designed to keep you on track.
p Clear, concise instructions on what to do next and colour-coded progress tracking make sure that you aren't lost using RetirementPlan.io.

p.text-center
  = image_tag "tour/1-dashboard.png", alt: 'RetirementPlan.io Dashboard screenshot', class: 'img-responsive'

br
hr
br


h2.underlined Risk Tolerance Questionnaire

p Your first step upon signing up for RetirementPlan.io is to answer a set of questions which will help us to determine your personal risk tolerance.  Your answers are compared to thousands of other people (sourced from the U.S. Federal Reserve) where statistically significant factors are used to extrapolate a potential range of acceptable portfolio volatilities.

p Using the concept of utility (from classical economics) we can mathematically estimate optimal portfolio characteristics from your questionnaire answers.  Members of the optimal set are clearly marked during the portfolio selection process so that you can easily tell if a portfolio may be beyond your willingness/ability to tolerate risk.

p.text-center
  = image_tag "tour/2-questionnaire.png", alt: 'RetirementPlan.io Risk Tolerance Questionnaire screenshot', class: 'img-responsive'

br
hr
br


h2.underlined Portfolio Selection

p After determining your personal willingness to accept risk, you will select a base portfolio which we use to build your monte carlo simulation and as a starting point for your actual ETF selections.

h3 Take the mystery out of asset allocation.
p We worry about generating a set of optimal portfolio allocations for any given risk level - you just need to select a portfolio that falls within your ability/willingness to accept risk.  For every portfolio, we provide the "expected" return (based on reverse portfolio optimization & historical data) as well as Value At Risk - an estimate of the kind of loss you should expect to occur once per month.

p.text-center
  = image_tag "tour/3-portfolio-selection.png", alt: 'RetirementPlan.io Portfolio Selection screenshot', class: 'img-responsive'

br
hr
br


h2.underlined Monte Carlo Retirement Simluation

p Instead of simply assuming linear growth in your retirement assets (which we know not to be the case!), a monte carlo simulation incorporates historical statistical data to provide an accurate assessment of how your portfolio may actually grow.  We run this simulation many times in combination with your personal data (your age, income, expected retirement expenses etc.) in order to determine if you will have sufficient funds to last through retirement.

h3 Tailored to your individual financial situation.

p We don't all spend exactly 75% of our pre-retirement income once we have retired, nor do we all expect to work to exactly 65.  RetirementPlan.io incorporates your personal financial information and preferences in order to paint an accurate picture of your retirement.

h3 Detailed results page allows you to understand your retirement outcomes

p After running all of your simulation trials, you will presented with graphs visually displaying data relevant to your decision to accept the portfolio or select a different one.  Your average portfolio value is shown for each year, in addition to the number of trials in which you were projected to run out of money that year.

p.text-center
  = image_tag "tour/4-retirement-simulation.png", alt: 'RetirementPlan.io Retirement Simulation results screenshot', class: 'img-responsive'

br
hr
br


h2.underlined Simple ETF Purchasing Instructions

p RetirementPlan.io is designed to do the hard lifting for you.  Once you have specified the ETFs to use in your portfolio, we provide the exact number of shares to buy to meet your target allocation.  When you go to purchase additional securities (or we note that your portfolio is out of balance), we provide the same information.  All you have to do is purchase the units from your bank or discount brokerage.

h3 No more searching through market quotes and Excel sheets in order to balance your portfolio.

p Initial portfolio setup, quarterly rebalancing, or additional money to invest?  We've got you covered.

p.text-center
  = image_tag "tour/5-etf-selection.png", alt: 'RetirementPlan.io ETF Selection screenshot', class: 'img-responsive'

br
hr
br


h2.underlined Ongoing ETF Purchase Support

p Have additional money to invest?  Even if you are still technically within allowable portfolio drift limits, when you go to purchase additional units we will do the calculation to efficiently get you back in balance - saving you transaction fees later.

p.text-center
  = image_tag "tour/6-etf-purchase-instructions.png", alt: 'RetirementPlan.io ETF Purchase Instructions screenshot', class: 'img-responsive'

br
hr
br
