<div class='widget'>
  <p class='heavy'>RetirementPlan.io Newsletter</p>
  <p>Ready to learn more about personal finance and retirement planning?</p>
  <p><em>Subscribe now:</em></p>
  <%= render partial: 'shared/newsletter_form' %>
</div>
