<div class='widget widget-with-pop'>
  <p class='heavy'>RetirementPlan.io Newsletter</p>
  <p>Ready to learn more about personal finance and retirement planning?</p>
  <p><small><strong><em>Subscribe now:</em></strong></small></p>
  <%= render partial: 'shared/newsletter_form' %>
</div>
