<div class='widget widget-with-pop widget-signup'>
  <h4>Get started with RetirementPlan.io!</h4>
  <%= link_to "Plan my retirement", sign_up_path, class: 'btn btn-lg btn-orange JS-launches-sign-up-modal' %>
  <p class="cta-paragraph">Discover the retirement planning tool you should have had all along.</p>
</div>
