body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: darken(#555, 40%);
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

a {
  color: $dark-green;
  word-wrap: break-word;
  font-weight: 400;

  &:hover, &:focus {
    color: $light-green;
    text-decoration: none;
    outline: 0;
  }
}

hr {
  display: block;
  max-width: 500px;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

.btn-orange  {
   // Standard button. White text on orange background. Inverses colours on hover.
   background-color: $dark-orange;
   border-color:     $dark-orange;
   color: #fff;

  &:hover, &:focus {
    border-color: $light-orange;
    background-color: #fff;
    color: $light-orange;
    box-shadow: none;
  }
}

// FIXME: (HACK) Required to beat the hover colours in the navbar....
.navbar-nav {
  .btn-orange {
    &:hover, &:focus {
      color: $light-orange !important;
    }
  }
  .btn-green {
    &:hover, &:focus {
      color: $light-green !important;
    }
  }
}

.btn-footer-cta {
  // Transparent, white letters by default, hovers white /w orange text. Used in
  // the full-width CTA in the footer.
  border-color: #fff;
  background-color: transparent;
  color: #fff;

  &:hover, &:focus {
    border-color: #fff;
    background-color: #fff;
    color: $light-orange;
    box-shadow: none;
  }
}

.btn-green {
  // Similar to standard theme button, but green instead of orange.
  background-color: $dark-green;
  border-color:     $dark-green;
  color: white;
  &:hover, &:focus {
    border-color: $light-green;
    background-color: #fff;
    color: $light-green;
  }
}

.grey-background { background-color: #FAFAFA;}
