//////////////////
// BLOG GENERIC //
//////////////////

.blog-section {
  @media (min-width: 992px) {
    padding-top: 40px;
  }
}

.post-meta {
  font-size: 13px;
  margin-bottom: 0px;
}

.meta-entries {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  .meta-item {
    margin-right: 10px;
    padding-right: 10px;
  }

  li:not(:last-child) { border-right: 1px solid #eee; }
}


/////////////
// SIDEBAR //
/////////////

.widget {
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 25px;
  text-align: center;

  .widget-title {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 300;
  }

  .widget-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      a {
        display: block;
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
    li:not(:last-child) { border-bottom: 1px solid #eee; }
  }
  p {margin-bottom: 10px;}
}

.widget-with-pop { box-shadow: 1px 2px 2px #888888; }

.widget-signup {
  h4 {
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    font-weight: 700;
  }
  a { color: white; }
  .cta-paragraph {
    margin-bottom: 0px;
    margin-top: 10px;
    font-style: italic;
    font-size: 0.9em;
  }
}


////////////////
// BLOG INDEX //
////////////////

.post-loop {
  margin-bottom: 10px;

  .post-info {
    text-align: center;
    padding-top: 25px;
    .author-name {
      color: #999999;
      font-weight: 500;
    }
  }

  .post-content {
    padding-top: 20px;
    // padding-left: 40px;
    border-top: 1px solid #ddd;
    font-size: 18px;
    line-height: 26px;
    h2 {
      font-weight: 700;
      margin-top: 0px;
    }
    .post-excerpt {
      margin-bottom: 10px;
      text-align: left;
    }
    .read-more {
      margin-top: 20px;
      margin-bottom: 25px;
    }
  }

  // Anything below first breakpoint
  @media (max-width: 991px) {
    .post-content {
      margin-top: 15px;
      .post-title {
        text-align: center;
      }
      .read-more {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }

}


/////////////////
// SINGLE POST //
/////////////////

.blog-post {
  font-size: 17px;
  line-height: 32px;

  // Anything below first breakpoint
  @media (max-width: 991px) {
    padding-top: 15px;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  img {
    width: 75%;
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bordered {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .image-attribution {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    margin-top: -20px;
  }

  .under-post {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .social-link { font-size: 1.5em; }
}


///////////////
// TAG PAGES //
///////////////

// Need to select only the first-level `li`s - there are sub-lists
.posts-for-tag > li {
  padding-bottom: 15px;
  margin-bottom: 35px;
  text-align: left;
}
// Need to select only the first-level `li`s - there are sub-lists
.posts-for-tag > li:not(:last-child) { border-bottom: 1px solid #eee; }
.tags-list {
  span { font-size: 15px; }
  li { font-size: 14px; }
}
