#call-to-action-banner {
  background-color: $light-green;
  height: 150px;
  padding-top: 55px;

  h3 {
    color: #fff;
    padding-right: 40px;
    display: inline;
    vertical-align: middle;
  }
  button {
    display: inline;
    vertical-align: middle;
  }
}


#main-footer-section {
  background-color: #333;
  color: #777;
  padding-top: 40px;
  padding-bottom: 60px;

  a {
    color: #f6bb42;
    &:hover {
      color: white;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 14px;
  }
  input:focus {
    outline: 0;
  }
}

#social-links {
  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

#copyright-section {
  background: #222;
  padding-top: 20px;
  font-size: 14px;
  color: #636363;
  a {
    color: lighten(#636363, 20%);
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 320px) { // Phones
  .small-on-phones { font-size: 75%; }
}

@media (max-width: 991px) { // Anything below first breakpoint
  #copyright-section { text-align: center; }
  #footer-links {text-align: center; }
}

@media (min-width: 992px) { // Medium devices (desktops, 992px and up)
  #footer-links { text-align: right; }
}
