.navbar-default {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
  margin-bottom: 0px;

  .navbar-toggle {
    border: 0;
    &:hover, &:focus {
      background-color: transparent;
    }
  }

  .navbar-nav > li > a, .navbar-nav > .active > a {
    color: $dark-blue;
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
      color: #bdc3c7;
    }
  }

  .navbar-right a[type="button"] {
    padding: 6px 20px 6px 20px;
    color: #fff;
    border-radius: 5px;
    &:hover, &:focus {
      background-color: transparent;
      color: #06979e;
    }
  }
}

.navbar .navbar-brand {
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  color: $dark-blue;
}

// Tiny Devices only
@media (max-width: 320px) {
  #navigation {
    padding-top: 0px;
    padding-bottom: 0px;
    .navbar-brand {
      line-height: 10px;
      b {font-size: 60%;}
      img {
        width: 230px;
        padding-top: 3px;
      }
    }
  }
}

// Small devices (up to 768px)
@media (max-width: 767px) {
  #navigation {
    .navbar-brand b {font-size: 75%;}
    .navbar-form {
      float: none !important;
      border: none;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

// For general tablet layouts
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .navbar-default { letter-spacing: normal; }
}
