.newsletter-name-input {
  // Honeypot
  position: absolute;
  left: -5000px;
}

.newsletter-email-input {
  max-width: 185px;
  text-align: center;
  display: inline-block;
}

//////////////////////////////////////////////////////////////////////////////
// Sidebar subscribe button gets pushed too tight on some screen sizes
@media (max-width: 303px) {
  .newsletter-submit-button { margin-top: 10px; }
}
//////////////////////////////////////////////////////////////////////////////
