/* IE 10 in Windows 8 and Windows Phone 8 fix
--------------------------------------------------------------------- */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/* Small devices (phones, 480px and smaller) */
@media (max-width: 480px) {
  body {
    text-align: center;
  }

  hr {
    max-width: 150px;
  }

  #main-benefits h1 {
    font-size: 40px;
  }

  #main-benefits .col-md-2 h5,
  #main-benefits .col-md-2 p {
    text-align: center;
  }

  #app-steps .col-md-4 {
    padding-top: 0;
  }

  #social-proof-slider .carousel-inner {
    margin-bottom: 50px;
  }

  #call-to-action-banner {
    padding-bottom: 80px;
    min-height: 200px;
  }

  #call-to-action-banner h3,
  #call-to-action-banner button {
    display: block;
    margin: 0 auto;
  }

  #call-to-action-banner a[type="button"] {
    margin-top: 15px;
  }
}

/* For general tablet layouts */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  body {
    text-align: center;
  }

  .navbar-default {
    letter-spacing: normal;
  }
}

// Tiny Devices only
@media (max-width: 320px) {
  #navigation {
    padding-top: 0px;
    padding-bottom: 0px;
    .navbar-brand {
      line-height: 10px;
      b {font-size: 60%;}
      img {
        width: 230px;
        padding-top: 3px;
      }
    }
  }

  #main-benefits h1 {
    font-size:2.0em;
  }

}

/* Small devices (up to 768px) */
@media (max-width: 767px) {
  #navigation {
    .navbar-brand b {font-size: 75%;}
    .navbar-form {
      float: none !important;
      border: none;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  #home-first-section {
    h1 { font-size: 36px; }
    h3 { font-size: 24px; }
  }
}

// Anything below first breakpoint
@media (max-width: 991px) {
  #copyright-links { text-align: center; }
  #footer-links {text-align: center; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #newsletter-text {
    text-align: left !important; /*Only center on small devices*/
  }
  #footer-links { text-align: right; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
